<ol class="post-list">
  {{#each posts as |post|}}
    <li class="post">
      <article class="post">
        <div class="title">
          <h3>Post Title</h3>
          <p>{{title}}</p>
        </div>
        <div class="text">
          <h3>Post</h3>
          <p>{{post_text}} by {{user.username}} </p>
        </div>
        <div>
          {{#each post.comments}}
            <h3><a
                href="/post/{{post.id}}"
                class="comment-link"
              >{{post.comments.length}}
                comment(s)</a></h3>
            <h3>Comments</h3>
            <p>{{comment_text}}</p>
            <h4>Comment by</h4>
            <p>{{user.username}}</p>
          {{/each}}
        </div>
      </article>
    </li>
  {{/each}}
</ol>